{% extends "base.html" %}

{% set title="Edit SASI Model Configuration" %}
{% block title %} {{title}} {% endblock %}


{% block styles %}

{{ super() }}

{% for style in assets.styles %}
{{style}}
{% endfor %}

{% endblock %}


{% block scripts %}

{{ super() }}

{% for script in assets.scripts %}
{{script}}
{% endfor %}

<script type="text/javascript">
    // Globals.
    var fieldDispatcher;
    require(["jquery","use!backbone","use!underscore"],
            function($, Backbone, _, SASIRunner){

                // Shortcut to value form.
                var $valueForm = $('form.value-form', '.checklist');

                // Setup field management.
                fieldDispatcher = _.clone(Backbone.Events);

                var updateFieldValue = function(fieldId, value){
                    // Set field's checkbox. 
                    $fieldCheckbox = $('#' + fieldId + '-checkbox');
                    $fieldCheckbox.attr('checked', (value != null));

                    // Update field's value.
                    $fieldInput = $('input[name="' + fieldId +  '"]', $valueForm);
                    $fieldInput.val(value);
                };

                // Initialize field values.
                {% for field in fields %}
                {% if field.value %}
                    {% set initial_value = "'%s'" % field.value %}
                {% else %}
                    {% set initial_value = 'null' %}
                {% endif %}
                updateFieldValue('{{field.id}}', {{initial_value|safe}});
                {% endfor %}

                // Listen for field changes.
                fieldDispatcher.on('field:change', updateFieldValue);

                // 'cancel' handling.
                $('.cancel-button').on('click', function(){
                    window.location.replace("{{url_for('.list_configs')}}");
                });
            });
</script>


{% for field in fields %}
{% if field.script %}
<script type="text/javascript">
{{field.script|safe}}
</script>
{% endif %}
{% endfor %}

{% endblock %}


{% block content %}
{{ super() }}

<div class="sasi-model-config-edit">
    <div class="inner">
        <h2 class="header"> {{title}} </h2>
        <div class="body">
            <div class="inner">

                <div class="checklist">
                    <div class="inner">
                        <h3 class="header">Checklist</h3>
                        <div class="body">
                            <div class="inner">
                                <div class="table">
                                    {% for field in fields %}
                                    <div class="row">
                                        <div class="checkbox-cell cell">
                                            <div class="inner">
                                                <input id="{{field.id}}-checkbox" type="checkbox" disabled="true">
                                            </div>
                                        </div>
                                        <div class="link-cell cell">
                                            <div class="inner">
                                                <a href="#{{field.id}}">{{field.label}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                                <div class="controls">
                                    <form class="value-form" action="{{form_url}}" method="POST">
                                        {% for field in fields %}
                                        <input type="hidden" name="{{field.id}}">
                                        {% endfor %}
                                        <button class="save-button button">save &amp; go to configs list</button>
                                        <div class="cancel-button button">cancel and go to configs list</div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="sections">
                    {% for field in fields %}
                    <a name="{{field.id}}"></a>
                    <div class="field-section section" id="{{field.id}}">
                        <div class="inner">
                            <h3 class="header">{{field.label}}</h3>
                            <div class="description">{{field.description}}</div>
                            <div class="body">{{field.html}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
