@import "common.less";

@padding_tighter: 3px;
@padding_tight: 5px;
@padding_normal: 7px;
@padding_loose: 10px;
@padding_looser: 15px;

.sasi-model-config-config-list{

    .config-table {

        .actions-cell{
            width: 360px;
            .action {
                display: inline-block;
                margin-left: @padding_normal;
                margin-right: @padding_normal;

                .action-link{
                    display: inline-block;

                    .action-text{
                        display: inline;
                    }
                }

            }
        }

    }

}
