<div class="inner">
    <div class="body-container">
        <div class="body">
            <form class="upload-form" enctype="multipart/form-data">
                <input type="file" name="sasi_file">
            </form>
        </div>

        <div class="overlay">
        </div>
    </div>

    <div class="footer-container">
        <div class="footer">
            <div class="status">
                <div class="loading-status">
                    <span class="text"></span>
                    <div class="image"></div>
                </div>
            </div>
            <div class="controls">
                <button class="submit control button">upload file</button>
                <button class="cancel control button">close</button>
            </div>
        </div>
    </div>
</div>

